<div *ngIf="(sectionBuckets | json) != '{}'" class="member-main-section">
  <div class="member-head">
    <h2>{{sectionBuckets.title_h2}}</h2>
    <p>{{sectionBuckets.description}}</p>
  </div>
  <div class="member-section">
    <div *ngFor="let bucket of sectionBuckets.buckets" class="content-section">
      <img src="{{bucket.icon.url}}" alt="bucket icon">
      <h3>{{bucket.title_h3}}</h3>
      <p [innerHTML]=bucket.description></p>
      <a href="{{bucket.call_to_action.href}}">{{bucket.call_to_action.title}} --&gt;</a>
    </div>
  </div>
</div>