<div *ngIf="(hero | json) != '{}'" [ngClass]="page==='Home'? 'hero-banner':'blog-page-banner'"
  style="background: {{hero.bg_color}}">
  <div [ngClass]="page ==='Home'?'home-content':'blog-page-content'">
    <h1 class="hero-title" style="color:{{hero.text_color}}">{{hero.banner_title}}</h1>
    <p class="hero-description" style="color:{{hero.text_color}}">
      {{hero.banner_description}}</p>
    <a aria-current="page" *ngIf="page !=='Blog' && hero.call_to_action" href="{{hero.call_to_action.url}}"
      class="btn tertiary-btn">{{hero.call_to_action.title}}</a>
  </div>
  <img *ngIf="page !=='Blog' && hero.banner_image" alt="{{hero.banner_image.title}}" src="{{hero.banner_image.url}}">
</div>